name: Docker Build and Push

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Docker Login

      uses: docker/login-action@v2
      with:
        # Server address of Docker registry. If not set then will default to Docker Hub
        registry: https://registry.hub.docker.com # optional
        # Username used to log against the Docker registry
        username: ${{ secrets.DOCKER_HUB_USERNAME }} # optional
        # Password or personal access token used to log against the Docker registry
        password: ${{ secrets.DOCKER_HUB_PERSONAL_ACCESS_TOKEN }} # optional

    - name: Get current date
      id: date
      run: echo "::set-output name=date::$(date +'%Y%m%d')"

    - name: Build and push Docker images
      # You may pin to the exact commit or the version.
      uses: docker/build-push-action@v3
      with:
        # Build's context is the set of files located in the specified PATH or URL
        context: . # optional
        # Do not use cache when building the image
        no-cache: true # optional, default is false
        # Push is a shorthand for --output=type=registry
        push: true # optional, default is false
        # List of tags
        #tzk223/twitter-bot:${{ steps.date.outputs.date }}, 
        tags: tzk223/twitter-bot:latest # optional
