name: Docker Build and Push

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
    inputs:
      docker_hub_username:
        description: "name user on Docker Hub"
        type: string
        default: "tzk223"
        required: true
      repository_name:
        description: "name of docker repository on Docker Hub"
        type: string
        default: "twitter-bot"
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Docker Login
      uses: docker/login-action@v2
      with:
        # Username used to log against the Docker registry
        username: ${{ inputs.docker_hub_username }} # optional
        # Password or personal access token used to log against the Docker registry
        password: ${{ secrets.DOCKER_HUB_PERSONAL_ACCESS_TOKEN }} # optional

    - name: Get current date
      id: date
      run: echo "::set-output name=date::$(date +'%Y%m%d')"

    - name: Build and push Docker images
      # You may pin to the exact commit or the version.
      uses: docker/build-push-action@v3
      with:
        # Build's context is the set of files located in the specified PATH or URL
        context: . # optional
        # Do not use cache when building the image
        no-cache: true # optional, default is false
        # Push is a shorthand for --output=type=registry
        push: true # optional, default is false
        # List of tags
        tags: ${{ inputs.docker_hub_username }}/${{ inputs.repository_name }}:${{ steps.date.outputs.date }}, ${{ inputs.docker_hub_username }}/${{ inputs.repository_name }}:latest # optional
